.navbar {
    background-color: #d1202e;
    text-shadow: none;
    text-decoration: none;
}

.nav>li>a:focus,
.nav>li>a:hover {
    color: whitesmoke;
    background-color: #dc4444;
}

.nav>li>a {
    color: white;
    text-shadow: none;
    text-decoration: none;
}

.navbar-brand,
.navbar-brand:hover {
    background-color: #d1202e;
    color: white
}

.jumbotron {
    color: whitesmoke;
    background-color: #dc4444;
}

.jumbotron>p>a,
.jumbotron>p>a:hover {
    color: whitesmoke;
    background-color: #dc4444;
}

footer {
    text-align: center;
    color: #dc4444;
    font-size: 12px;
}

footer>a.btn-link,
footer>a.btn-link:active,
footer>a.btn-link:focus,
footer>a.btn-link:hover {
    color: #dc4444;
    font-size: 12px;
}

.fint-highlights {
    text-align: center;
}

.fint-highlights>a:hover.btn-default {
    box-shadow: none;
    background-color: #d1202e;
    border: none;
    color: white;
    text-decoration: none;
    text-shadow: none;
}

.fint-highlights>a.btn-default {
    box-shadow: none;
    background-color: whitesmoke;
    border: none;
    color: #d1202e;
    text-decoration: none;
    text-shadow: none;
}