.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, html, body {
  font-family: 'Roboto', sans-serif;
}

.tocify-wrapper .tocify-item > a {
  font-size: 14px;
}

.tocify-wrapper .tocify-subheader .tocify-item > a {
  padding-left: 15px;
  font-size: 12px;
}

.tocify-wrapper .tocify-subheader .tocify-subheader .tocify-item > a {
  padding-left: 25px;
  font-size: 12px;
}

.tocify-wrapper .tocify-subheader .tocify-subheader .tocify-subheader .tocify-item > a {
  padding-left: 35px;
  font-size: 11px;
}

.tocify-wrapper {
  background-color: #d1202e;
}

.tocify-wrapper > .search:before {
  color: inherit;
}

.tocify-wrapper > .search:before {
  left: 18px;
}

.tocify-wrapper > .search input {
  background-color: white;
  color: inherit;
  margin: 10px 15px 20px 15px;
}

.tocify-wrapper .search-results {
  background-color: #87141d;
}

.tocify-wrapper .tocify-subheader {
  background-color: #87141d;
}

.tocify-wrapper > img {
  max-width: 70%;
  margin: 0 auto;
  padding-top: 7px;
}

.tocify-wrapper .tocify-focus {
  background-color: white;
  color: #333;
}